---
layout: default
---

<div id="main" role="main">
  <div class="archive">
    {% for post in site.posts %}
      {% unless post.project %}
      <article class="archive__item">
        <h2 class="archive__item-title no_toc">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        <p class="archive__item-excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
        <time class="archive__item-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y. %m. %d" }}</time>
      </article>
      {% endunless %}
    {% endfor %}
  </div>
</div>
